<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Outer Row -->
<div class="row justify-content-center" th:fragment="activitiesBox">

    <div class="col-xl-8 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Activities</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="firstname" value="Hazar Gul" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="lastname" placeholder="Nazari" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="username" aria-describedby="emailHelp" value="nazariazargul" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp" placeholder="nazariazargul@gmail.com" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="password" placeholder="jamshid123@" readonly>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="number" class="form-control form-control-user" id="salary" placeholder="1000.00" readonly>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="position" placeholder="Developer" readonly>
                                    </div>
                                </div>
                                <input type="button" value="Edit" class="btn btn-primary btn-user btn-block">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
