<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head(title='Dashboard')"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- left sidemenu -->
            <th:block th:replace="fragments/leftSideBar :: leftSideBar"></th:block>

            <!-- Content Wrapper -->
            <div class="d-flex flex-column" id="content-wrapper">

                <th:block th:if="${section == 'tasks'}" th:include="fragments/tasks :: tasks"></th:block>
                <th:block th:if="${section == 'default'}" th:include="fragments/dashboard :: dashboard"></th:block>
                <th:block th:if="${section == 'profile'}" th:include="fragments/profile :: profile"></th:block>

                <th:block th:include="fragments/footer :: footer"></th:block>
            </div>
            <!-- End of Content Wrapper -->

        </div>
    </body>

</html>